In [2]:
import numpy as np
import pandas as pd
import geopy as gp
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

geolocator = Nominatim(user_agent="hello")

In [3]:
df = pd.read_csv('HODP Athlete Project - All Athletes.csv', index_col = 0)
df = df[pd.notnull(df['Hometown'])]
df = df.reset_index()
df.drop(columns = ['Unnamed: 8'])
df.head()

,Sport,Gender,Name,Yr.,Hometown,High School,"Median Household Income from datausa.io, or ZIP code from https://www.incomebyzipcode.com",Private School,Unnamed: 8
0,Baseball,M,Seamus Buckley,Fy,"Dorchester, Mass.",Beaver Country Day,"71,723",1,"103,092"
1,Baseball,M,Ian Buckner,Fy,"Oak Park, Calif.",Grace Brethren Academy,"129,721",1,NaN
2,Baseball,M,Will Jacobsen,Fy,"San Francisco, Calif.",The Branson School,"110,816",1,NaN
3,Baseball,M,Ben Rounds,Fy,"Milton, Mass.",Roxbury Latin,"126,000",1,NaN
4,Baseball,M,Pryor Thomas,Fy,"Keller, Texas",Liberty Christian School,126013,1,NaN

In [4]:
print(df.iloc[0].Hometown)

Dorchester, Mass.

In [5]:
def do_geocode(address):
    try:
        return geolocator.geocode(address)
    except GeocoderTimedOut:
        return do_geocode(address)

In [6]:
print(do_geocode("New York, New York"))

New York, United States of America

In [7]:
# Cleaner function
def cleaner(old, new):
    lst = [] 
    for i, row in df.iterrows():
        if old in row["Hometown"]:
            lst.append(i)

    print(lst)
    for i in lst:
        df.iloc[i]["Hometown"] = df.iloc[i]["Hometown"].replace(old, new)
        
cleaner("Ill.", "Illinois")
cleaner("Neb.", "Nebraska")
cleaner("Wisc.", "Wisconsin")
cleaner("Fla", "Florida")
cleaner("Coquitlan", "Coquitlam")
cleaner("Pozos de Santa", "Pozos")
cleaner("Cutchouge", "Cutchogue")
cleaner("Edgarton", "Edgartown")

[43, 70, 74, 77, 167, 204, 216, 220, 279, 360, 444, 452, 455, 456, 458, 497, 515, 541, 548, 620, 632, 639, 673, 675, 682, 699, 702, 759, 769, 779, 822, 863, 909, 992, 993, 1003, 1030]
[73]
[121, 568, 714]
[8, 57, 107, 157, 163, 206, 244, 245, 254, 256, 284, 317, 334, 339, 340, 424, 436, 466, 471, 476, 494, 519, 553, 580, 595, 600, 631, 648, 667, 670, 830, 847, 927, 946, 947, 948, 1049]
[474, 598]
[662]
[732]
[967]

In [8]:
print(df.iloc[732].Hometown)

Cutchogue, N.Y.

In [9]:
df = df.iloc[1:len(df.Hometown)]
df

,Sport,Gender,Name,Yr.,Hometown,High School,"Median Household Income from datausa.io, or ZIP code from https://www.incomebyzipcode.com",Private School,Unnamed: 8
1,Baseball,M,Ian Buckner,Fy,"Oak Park, Calif.",Grace Brethren Academy,"129,721",1,NaN
2,Baseball,M,Will Jacobsen,Fy,"San Francisco, Calif.",The Branson School,"110,816",1,NaN
3,Baseball,M,Ben Rounds,Fy,"Milton, Mass.",Roxbury Latin,"126,000",1,NaN
4,Baseball,M,Pryor Thomas,Fy,"Keller, Texas",Liberty Christian School,126013,1,NaN
5,Baseball,M,Spencer Williams,Fy,"Northridge, Calif.",Chaminade College Prep.,"67,906",1,NaN
...,...,...,...,...,...,...,...,...,...
1047,Tennis,F,Mihaela Marculescu,First-Year,"Bucharest, Romania",Tudor Vianu,NaN,NaN,NaN
1048,Tennis,F,Lexi Milunovich,Senior,"New Canaan, Conn.",Greenwich Academy,"147,128",NaN,NaN
1049,Tennis,F,Demi Snyder,First-Year,"Ft. Lauderdale, Florida.",Pine Crest School,"52,315",NaN,NaN
1050,Tennis,F,Chelsea Williams,Sophomore,"Brooklyn, N.Y.",Brooklyn Technical,"85,846",NaN,NaN
1051,Tennis,F,Lauryn Wu,First-Year,"McLean, Va.",Thomas Jefferson High School for Science and T...,NaN,NaN,NaN

In [11]:
def do_geocode(address):
    try:
        return geolocator.geocode(address)
    except GeocoderTimedOut:
        return do_geocode(address)

In [ ]:
for index, row in df.iterrows():
    location = do_geocode(row["Hometown"])
    print(location.address)
    df.loc[index, "clean hometown"] = location.address

In [13]:
import csv

with open('Hometowns.csv', 'w', newline='') as myfile:
     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
     wr.writerow(locations)

ValueError: Length of values does not match length of index